In [3]:
%load_ext sql

In [14]:
%sql sqlite://

'Connected: None@None'

In [21]:
%%sql
CREATE TABLE people (title, surname, tea, avarice);
INSERT INTO people VALUES ("Mr", "Scrooge", "Unknown",10);
INSERT INTO people VALUES ("Lady", "Grey", "Okay",3);

Done.
1 rows affected.
1 rows affected.

[]

In [22]:
%sql SELECT * FROM people

Done.

[('Mr', 'Scrooge', 'Unknown', 10), ('Lady', 'Grey', 'Okay', 3)]

In [20]:
%sql DROP TABLE people

Done.

[]